#container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin: auto auto;
    max-width: 688px;
    width: 100%;
}

.row {
    width: -webkit-fill-available;
    display: flex;
}

#write {
    margin: 0 5px 10px 0;
    padding: 5px;
    width: -webkit-fill-available;
    min-height: calc(100vh - 25rem);
    background: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}

#keyboard {
    width: -webkit-fill-available;
    height: 90vh;
    margin: 0 5px 0 5px;
    padding: 0;
    list-style: none;
}

#keyboard li {
    float: left;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #949494;
    color: white;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}

#keyboard .tab, #keyboard .delete {
    width: 70px;
}

#keyboard .capslock {
    width: 80px;
    overflow: hidden;
}

#keyboard .enter {
    width: 77px;
}

#keyboard .left-shift {
    width: 95px;
}

#keyboard .right-shift {
    width: 109px;
}

#keyboard .space {
    width: -webkit-fill-available;
}

#keyboard li:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #3d3d3d;
    cursor: pointer;
}

.active {
    background-color: #257fee !important;
}